@model EditorTemplateExample.Models.SessionDetail

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>WithEditorTemplates</title>
</head>
<body>
    <div class="container">
        <div class="jumbotron">
            <div class="row">
                <div class="col-lg-12">
                    @using (Html.BeginForm("ThePostAction","home",FormMethod.Post))
                    {
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Attend?</th>
                                    <th>Session Name</th>
                                    <th>Session Cost</th>
                                </tr>
                            </thead>
                            <tbody>
                                @*EditorFor will look in the EditorTemplates folder and find the template that is bound to the Session model. 
                                    It will display all of the sessions and keep the model bound to the objects.*@
                                @Html.EditorFor(m => m.sessions)
                            </tbody>
                        </table>
                        <div>
                            <input type="submit" value="Submit" />
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</body>
</html>
